<?xml version="1.0"?>

<config>
    <tabs>
        <mailchimp translate="label" module="mailchimp">
            <label><![CDATA[MailChimp]]></label>
            <sort_order>400</sort_order>
        </mailchimp>
    </tabs>
    <sections>
        <general>
            <groups>
                <store_information>
                    <fields>
                        <name>
                            <backend_model>mailchimp/system_config_backend_name</backend_model>
                        </name>
                    </fields>
                </store_information>
            </groups>
        </general>
        <mailchimp translate="label" module="mailchimp">
            <class>mailchimp-section</class>
            <label>MailChimp Configuration</label>
            <header_css>mailchimp-header</header_css>
            <tab>mailchimp</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint>
                    <frontend_model>mailchimp/adminhtml_system_config_fieldset_mailchimp_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <general translate="label comment">
                    <label>MailChimp integration by ebizmarts</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>mailchimp/system_config_backend_active</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <apikey translate="label comment">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <backend_model>mailchimp/system_config_backend_apikey</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Please click the button below to get your API key.]]></comment>
                        </apikey>
                        <oauth_wizard translate="button_label">
                            <label></label>
                            <button_label>Get API credentials</button_label>
                            <frontend_model>mailchimp/adminhtml_system_config_oauthWizard</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </oauth_wizard>
                        <account_details translate="label comment">
                            <label>Account details</label>
                            <frontend_model>mailchimp/adminhtml_system_config_account</frontend_model>
                            <source_model>Ebizmarts_MailChimp_Model_System_Config_Source_Account</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_details>
                        <reset_errors translate="label comment">
                            <frontend_type>button</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_resetErrors</frontend_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reset_errors>
                        <list translate="label comment">
                            <label>General Subscription</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_list</source_model>
                            <backend_model>mailchimp/system_config_backend_list</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[Synchronize Magento's General Subscription List with this MailChimp list.]]></comment>
                        </list>
                        <reset_list translate="label comment">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_resetList</frontend_model>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Warning, read the manual before change the list.]]></comment>
                        </reset_list>
                        <subscriber_batch_amount>
                            <label>Subscriber amount to be sent per run</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_batchLimit</source_model>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </subscriber_batch_amount>
                        <checkout_subscribe translate="label comment">
                            <label>Subscribe On Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_checkoutsubscribe</source_model>
                            <sort_order>54</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Show Newsletter Subscribe checkbox in the last Checkout Step (Order Review).]]></comment>
                        </checkout_subscribe>
                        <map_fields translate="label comment">
                            <label>Customer Fields Mapping</label>
                            <frontend_model>mailchimp/adminhtml_system_config_form_field_mapfields</frontend_model>
                            <backend_model>mailchimp/system_config_backend_mapfield</backend_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This is required in order to tell the extensions what customer attributes should be sent to your selected MailChimp list. <a target="_blank" href="http://wiki.ebizmarts.com/m4m-merge-fields">See recommended configuration here.</a>]]></comment>
                        </map_fields>
                        <create_fields translate="label comment">
                            <label>Create Merge Fields on MailChimp</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_createMergeFields</frontend_model>
                            <sort_order>57</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Click this button to create the above fields on the selected MailChimp list.]]></comment>
                        </create_fields>
                        <webhook_active>
                            <label>Enable Two Way Sync</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>mailchimp/system_config_backend_twowaysync</backend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[If this is set to "No", the synchronization will be from Magento's newsletter to MailChimp only.]]></comment>
                        </webhook_active>
                        <webhook_delete translate="label comment">
                            <label>Webhooks Delete action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_webhookDelete</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </webhook_delete>
                        <enable_log translate="label comment">
                            <label>Enable Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[File is {{base_dir}}/var/log/MailChimp_Errors.log]]></comment>
                        </enable_log>
                        <monkey_grid translate="label comment">
                            <label>Display icon for MailChimp orders grid</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </monkey_grid>
                    </fields>
                </general>
                <ecommerce>
                    <label>Ecommerce</label>
                    <sort_order>200</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>mailchimp/system_config_backend_ecommerce</backend_model>
                            <sort_order>205</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <customers_optin translate="label">
                            <label>Subscribe all customers to the newsletter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>208</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </customers_optin>
			<image_size translate="label">
                            <label>Select product image size to send</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_imageSize</source_model>
                            <sort_order>209</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </image_size>
                        <firstdate translate="label">
                            <label>First date</label>
                            <frontend_type>date</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_date</frontend_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Orders previous than this value, will be ignored.]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </firstdate>
                        <reset_ecommerce_data translate="label comment">
                            <frontend_type>button</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_resetEcommerceData</frontend_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </reset_ecommerce_data>
                        <resend_ecommerce_data translate="label comment">
                            <frontend_type>button</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_resendEcommerceData</frontend_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This will not affect the behaviour of Automations.]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </resend_ecommerce_data>
                        <customer_batch_amount>
                            <label>Customer amount to be sent per run</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_batchLimit</source_model>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </customer_batch_amount>
                        <product_batch_amount>
                            <label>Product amount to be sent per run</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_batchLimit</source_model>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </product_batch_amount>
                        <order_batch_amount>
                            <label>Order amount to be sent per run</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_batchLimit</source_model>
                            <sort_order>260</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </order_batch_amount>
                    </fields>
                </ecommerce>
                <emailcatcher>
                    <label>Catch email</label>
                    <sort_order>400</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <popup_general translate="label comment">
                            <label>Catch Email on Popup</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>410</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Create popup when customer access the site for the first time to catch email to use later on Abandoned Cart mailing.]]></comment>
                        </popup_general>
                        <popup_heading translate="label comment">
                            <label>Popup Heading</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>420</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[This field can be empty.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_heading>
                        <popup_text translate="label comment">
                            <label>Popup Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>430</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[This field can be empty.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_text>
                        <popup_fname translate="label">
                            <label>Ask for first name on popup</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>440</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_fname>
                        <popup_lname translate="label">
                            <label>Ask for last name on popup</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>450</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_lname>
                        <popup_width translate="label comment">
                            <label>Popup Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>460</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[This is a percentage of the window width.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_width>
                        <popup_height translate="label comment">
                            <label>Popup Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>470</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[This is a percentage of the window height.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_height>
                        <popup_subscription translate="label comment">
                            <label>Subscribe guest customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>480</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[When email confirmed on popup subscribe customer to newsletter.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_subscription>
                        <popup_cancel translate="label comment">
                            <label>Customer can close Popup</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>490</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Popup can be closed without giving an email.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                            </depends>
                        </popup_cancel>
                        <popup_cookie_time translate="label comment">
                            <label>When popup cancelled show again after</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This field is in days.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                                <popup_cancel>1</popup_cancel>
                            </depends>
                        </popup_cookie_time>
                        <popup_insist translate="label comment">
                            <label>Limit of times popup will get shown</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>510</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If customer doesn't confirm popup, it will be shown this many times each time the customer reload the page.]]></comment>
                            <depends>
                                <popup_general>1</popup_general>
                                <popup_cancel>1</popup_cancel>
                            </depends>
                        </popup_insist>
                    </fields>
                </emailcatcher>
                <abandonedcart>
                    <label>Abandoned Cart</label>
                    <sort_order>500</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <firstdate translate="label">
                            <label>First date</label>
                            <frontend_type>date</frontend_type>
                            <frontend_model>mailchimp/adminhtml_system_config_date</frontend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Carts previous than this value, will be ignored]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </firstdate>
                        <page translate="label comment">
                            <label>Redirect page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/system_config_source_cmspage</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Where to redirect the customer]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </page>
                        <cart_batch_amount translate="label">
                                <label>Cart amount to be sent per run</label>
                                <frontend_type>select</frontend_type>
                                <source_model>mailchimp/system_config_source_batchLimit</source_model>
                                <sort_order>30</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                                <comment></comment>
                        </cart_batch_amount>
                    </fields>
                </abandonedcart>
            </groups>
        </mailchimp>
        <mandrill translate="label" module="mailchimp">
            <class>mandrill-section</class>
            <label>Mandrill Configuration</label>
            <header_css>mandrill-header</header_css>
            <tab>mailchimp</tab>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint>
                    <frontend_model>mailchimp/adminhtml_system_config_fieldset_mandrill_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <general translate="label comment">
                    <label>Mandrill integration by ebizmarts</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <apikey translate="label comment">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Your API Key]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </apikey>
                        <enable_log translate="label comment">
                            <label>Enable Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>File is {{base_dir}}/var/log/Ebizmarts_Mandrill.log</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </enable_log>
                        <user_info translate="label comment">
                            <label>Account Info</label>
                            <frontend_model>mailchimp/adminhtml_system_config_userinfo</frontend_model>
                            <source_model>mailchimp/system_config_source_userinfo</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </user_info>
                    </fields>
                </general>
            </groups>
        </mandrill>
    </sections>
</config>
